body {
    overflow-x: hidden;
}

.a-part1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}

.a-title1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-size: 35px;
    font-family: "Itim";
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 150px;
}

.a-title2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-size: 55px;
    font-family: "Itim";
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}

.a-button1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 150px;
    height: 40px;
    background-color: #47D4FF;
    color: white;
    font-size: 20px;
    font-family: "Itim";
    border: none;
    border-radius: 25px;
}

.a-img1 {
    position: absolute;
    top: 20px;
    left: -5%;
    width: 160px;
    height: max-content;
}

.a-img2 {
    position: absolute;
    top: 200px;
    left: 7%;
    width: 120px;
    height: max-content;
}

.a-img3 {
    position: absolute;
    top: 320px;
    left: -5%;
    width: 200px;
    height: max-content;
}

.a-img4 {
    position: absolute;
    top: 100px;
    left: 90%;
    width: 300px;
    height: 350px;
    background-color: antiquewhite;
    rotate: -10deg;
}

.a2-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

.a2-img1 {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10%;
    background-color: #d9d9d9;
}

.a2-text {
    max-width: 600px;
}

.a2-title1 {
    font-size: 2rem;
    font-size: 40px;
    font-family: "Itim";
    font-weight: bold;
    margin-bottom: 20px;
}

.a2-title2 {
    font-size: 1.1rem;
    line-height: 1.6;
    font-size: 20px;
    font-family: "Itim";
    font-weight: normal;
}

.a-part3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: grid;
    margin-top: 100px;
    grid-template-columns: 50px calc((120% - 150px) / 2) 50px calc((80% - 150px) / 2) 50px;
}

.a3-img1 {
    position: relative;
    top: 0;
    width: 100%;
    height: 350px;
    background-color: antiquewhite;
    grid-column-start: 4;
    display: inline-block;
    border-radius: 2;
}

.a3-title1 {
    position: relative;
    top: 0;
    width: 100%;
    height: max-content;
    grid-column-start: 2;
    font-size: 30px;
    font-family: "Itim";
    font-weight: bold;
    grid-row-start: 1;
    padding: 0;
    margin: 0;
}

.a3-title2 {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: max-content;
    grid-column-start: 2;
    font-size: 20px;
    font-family: "Itim";
    font-weight: normal;
    grid-row-start: 1;
    padding: 0;
    margin: 0;
}