.body {
    background-color: #FFFFFF;
}

.smaller-font {
    font-size: 10px;
    font-weight: lighter;
    font-family: "Itim";
}

.small-font {
    font-size: 15px;
    font-weight: lighter;
    font-family: "Itim";
}

.medium-font {
    font-size: 20px;
    font-weight: lighter;
    font-family: "Itim";
}

.big-font {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Itim";
}

.huge-font {
    font-size: 30px;
    font-weight: lighter;
    font-family: "Itim";
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 100px);
    height: 50px;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}

.navbar-title {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.navbar-navs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: max-content;
    height: max-content;
    margin-right: 50px;
}

.navbar-nav {
    position: relative;
    top: 0;
    right: 0;
    width: max-content;
    height: max-content;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 25px;
    z-index: 6;
    cursor: pointer;
}

.navbar-nav5 {
    padding: 0;
    margin: 0;
}

.navbar-nav5-back {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 140%;
    height: 150%;
    background-color: #FFEF63;
    z-index: -1;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
}

#navbar-nav5:hover .navbar-nav5-back {
    animation: ease 0.3s navbar5_animation_hover;
    background-color: #cdc04d;
}

.navbar-nav-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 10px;
    background-color: aqua;
}

@keyframes navbar5_animation_hover {
    0% {
        background-color: #FFEF63;
    }

    100% {
        background-color: #cdc04d;
    }
}