.body {
    background-color: #FFFFFF;
    cursor: url('/static/srcs/cursor.svg'), auto;
}

a, button, [role="button"] {
    cursor: url("/static/srcs/cursor2.svg"), pointer;
}

::selection {
    background-color: rgba(255, 255, 0, 0.25);
    color: black;
  }

.smaller-font {
    font-size: 10px;
    font-weight: lighter;
    font-family: "Itim";
}

.small-font {
    font-size: 15px;
    font-weight: lighter;
    font-family: "Itim";
}

.medium-font {
    font-size: 20px;
    font-weight: lighter;
    font-family: "Itim";
}

.big-font {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Itim";
}

.huge-font {
    font-size: 30px;
    font-weight: lighter;
    font-family: "Itim";
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 100px);
    height: 50px;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    z-index: 1000;
}

.navbar-title {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.navbar-navs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: max-content;
    height: max-content;
    margin-right: 50px;
}

.navbar-nav {
    position: relative;
    top: 0;
    right: 0;
    width: max-content;
    height: max-content;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 25px;
    z-index: 6;
}

.navbar-nav2 {
    padding: 0;
    margin: 0;
}

.navbar-nav5-back {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 140%;
    height: 150%;
    background-color: #FFEF63;
    z-index: -1;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
}

#navbar-nav5:hover .navbar-nav5-back {
    animation: ease 0.3s navbar5_animation_hover;
    background-color: #cdc04d;
}

.navbar-current-line {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #F68368;
    border-radius: 5px;
}

#navbar-nav1:hover .navbar-current-line {
    animation: ease 0.3s navbar1_animation_hover;
    background-color: #c1543c;
}

.working-part {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 100px);
    height: max-content;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

.info-div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 55% 5% 40%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-part1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    grid-row: 1;
    display: inline-grid;
    grid-column: 1;
}

.info-img {
    position: relative;
    top: -10%;
    left: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 450px;
    grid-row: 1;
    grid-column: 3;
    display: inline-grid;
    background-color: #39361c;
    object-fit:cover;
}

.info-title {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "Itim";
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid black;
    text-align: center;
    text-overflow: clip;
}


.info-description {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: max-content;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-button {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    border: 5px solid black;
    background-color: #FFEF63;
    box-sizing: border-box;
}

.strengths-div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 55px calc((90% - 100px) / 3) 20px calc((90% - 100px) / 3) 20px calc((90% - 100px) / 3) 5% 35px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.strengths-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: inline-grid;
    grid-row: 1;
    grid-column: 2;
}

.strengths-small-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: inline-grid;
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.strengths-line {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: inline-grid;
    grid-row: 3;
    grid-column: 2;
    padding: 0;
    margin: 0;
    border: 2px solid #5A4CAC;
    border-radius: 5px;
    margin-top: 8px;
}

.strength-divs {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #B0A9D3;
    box-shadow: 0px 0px 25px gainsboro;
    margin-top: 10px;
    padding-bottom: 0px;
}

#sd1 {
    grid-row: 5;
    grid-column: 2;
}

#sd2 {
    grid-row: 5;
    grid-column: 4;
}

#sd3 {
    grid-row: 5;
    grid-column: 6;
}

#sd4 {
    grid-row: 7;
    grid-column: 2;
    margin-top: 25px;
}

#sd5 {
    grid-row: 7;
    grid-column: 4;
    margin-top: 25px;
}

#sd6 {
    grid-row: 7;
    grid-column: 6;
    margin-top: 25px;
}

.strength-div-icon {
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    margin-top: 45px;
    margin-left: 20px;
    margin-right: calc(100% - 60px);
}

.strength-div-title {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
    font-weight: normal;
}

.strength-div-description {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.work-div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 55px calc(70% - 130px) 40px 30% 35px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.work-part1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: grid;
    grid-column: 2;
    grid-template-columns: calc((100% - 10px) /3) 10px calc((100% - 10px) /3) 10px calc((100% - 10px) /3);
    grid-template-rows: max-content 10px max-content 10px max-content;
    margin-top: 60px;
    margin-bottom: 60px;
}

.work-part2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-column: 4;
}

.work-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.work-description {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 17px;
}

.work-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
    outline: none;
}

#wd1 {
    grid-column: 1;
    grid-row: 1;
}

#wd2 {
    grid-column: 3;
    grid-row: 1;
}

#wd3 {
    grid-column: 5;
    grid-row: 1;
}

#wd4 {
    grid-column: 1;
    grid-row: 3;
}

#wd5 {
    grid-column: 3;
    grid-row: 3;
}

#wd6 {
    grid-column: 5;
    grid-row: 3;
}

#wd7 {
    grid-column: 1;
    grid-row: 5;
}

#wd8 {
    grid-column: 3;
    grid-row: 5;
}

#wd9 {
    grid-column: 5;
    grid-row: 5;
}

.work-buttons {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: max-content;
}

.work-button1 {
    position: absolute;
    top: -41px;
    left: 0;
    width: 49%;
    height: max-content;
    background-color: #C5ACD3;
    color: black;
    border: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.work-button2 {
    position: absolute;
    top: -41px;
    right: 0;
    width: 49%;
    height: max-content;
    background-color: #FFEF63;
    color: black;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid black;
}

.rights {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1132px) {
    #typing-text1 {
        width: max-content;
        font-size: 30px;
    }

    #typing-text2 {
        width: max-content;
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .work-part1 {
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 5;
        margin-top: 120px;
    }

    .work-part2 {
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 5;
        display: inline-grid;
    }

    .work-buttons {
        bottom: -60px;
    }
}

@keyframes card_hover_animation_close {
    0% {
        transform: scale(1.02);
        box-shadow: 0px 0px 25px gray;
    }

    100% {
        transform: scale(1);
        box-shadow: 0px 0px 25px gainsboro;
    }
}

@keyframes card_hover_animation_open {
    0% {}

    100% {
        transform: scale(1.02);
        box-shadow: 0px 0px 25px gray;
    }
}

@keyframes blink_animation {
    0% {
        border-right: 3px solid white;
    }

    50% {
        border-right: 3px solid black;
    }

    100% {
        border-right: 3px solid white;
    }
}

@keyframes typing_animation {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes info_button_hover {
    0% {
        border: 5px solid black;
    }

    100% {
        border: 0px solid black;
        box-shadow: 8px 8px black;
        margin-top: 9px;
    }
}

@keyframes info_button_unhover {
    0% {
        border: 5px solid black;
        border: none;
        box-shadow: 8px 8px black;
        margin-top: 9px;
    }

    100% {
        border: 5px solid black;
        box-shadow: none;
        margin-top: 0px;
    }
}

@keyframes navbar1_animation_hover {
    0% {
        background-color: #F68368;
    }

    100% {
        background-color: #c1543c;
    }
}

@keyframes navbar5_animation_hover {
    0% {
        background-color: #FFEF63;
    }

    100% {
        background-color: #cdc04d;
    }
}

@keyframes navbar_animation_open {
    0% {
        top: -100%;
    }

    100% {
        top: 0%;
    }
}