.body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

::selection {
    background-color: rgba(255, 255, 0, 0.25);
    color: black;
}

.smaller-font { font-size: 0.625rem; font-weight: lighter; font-family: "Itim"; }
.small-font { font-size: 0.938rem; font-weight: lighter; font-family: "Itim"; }
.medium-font { font-size: 1.25rem; font-weight: lighter; font-family: "Itim"; }
.big-font { font-size: 1.563rem; font-weight: lighter; font-family: "Itim"; }
.huge-font { font-size: 1.875rem; font-weight: lighter; font-family: "Itim"; }

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
}

.navbar-title {
    font-size: 1.5rem;
    font-family: "Itim";
}

.navbar-navs {
    display: flex;
    gap: 25px;
}

.navbar-nav {
    position: relative;
    cursor: pointer;
}

.navbar-nav5-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    background-color: #FFEF63;
    z-index: -1;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.navbar-current-line {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #F68368;
    border-radius: 5px;
}

.working-part {
    padding: 120px 5% 50px 5%;
}

.info-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.info-img {
    width: 100%;
    height: 400px;
    background-color: #39361c;
    object-fit: cover;
    border-radius: 10px;
}

.info-title {
    font-size: 2.5rem;
    font-family: "Itim";
    border-right: 3px solid black;
    width: fit-content;
    padding-right: 10px;
}

.info-button {
    padding: 10px 25px;
    border: 5px solid black;
    background-color: #FFEF63;
    font-family: "Itim";
    cursor: pointer;
    transition: all 0.2s ease;
}

.strengths-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.strength-divs {
    background-color: #B0A9D3;
    padding: 20px;
    box-shadow: 0px 0px 20px gainsboro;
    transition: transform 0.3s ease;
}

.strength-divs:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 25px gray;
}

.work-div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;
    margin-top: 50px;
}

.work-part1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.work-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: gainsboro;
    border-radius: 8px;
    object-fit: cover;
}

.work-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.work-button1, .work-button2 {
    flex: 1;
    padding: 10px;
    border: none;
    font-family: "Itim";
    cursor: pointer;
}

.work-button1 { background-color: #C5ACD3; }
.work-button2 { background-color: #FFEF63; border: 2px solid black; }

@media screen and (max-width: 1024px) {
    .info-div, .work-div {
        grid-template-columns: 1fr;
    }
    
    .info-part1 { order: 2; }
    .info-img { order: 1; height: 300px; }
}

@media screen and (max-width: 768px) {
    .navbar-navs {
        display: none;
    }

    .navbar-burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .navbar-span {
        width: 30px;
        height: 4px;
        background-color: black;
    }

    .strengths-div {
        grid-template-columns: 1fr 1fr;
    }

    .work-part1 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .strengths-div, .work-part1 {
        grid-template-columns: 1fr;
    }

    .info-title {
        font-size: 1.8rem;
    }

    .huge-font {
        font-size: 1.5rem;
    }
}

@keyframes blink_animation {
    0%, 100% { border-right-color: transparent; }
    50% { border-right-color: black; }
}

#typing-text1, #typing-text2 {
    animation: blink_animation 0.8s infinite;
}