.body {
    background-color: #FFFFFF;
    margin: 0;
    overflow-x: hidden;
}

::selection {
    background-color: rgba(255, 255, 0, 0.25);
    color: black;
}

.smaller-font {
    font-size: 10px;
    font-weight: lighter;
    font-family: "Itim";
}

.small-font {
    font-size: 15px;
    font-weight: lighter;
    font-family: "Itim";
}

.medium-font {
    font-size: 20px;
    font-weight: lighter;
    font-family: "Itim";
}

.big-font {
    font-size: 25px;
    font-weight: lighter;
    font-family: "Itim";
}

.huge-font {
    font-size: 30px;
    font-weight: lighter;
    font-family: "Itim";
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar-title {
    position: relative;
    z-index: 100;
    margin: 0;
}

.navbar-navs {
    position: relative;
    height: max-content;
    display: flex;
    align-items: center;
}

.navbar-nav {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    z-index: 6;
}

.navbar-nav2 {
    padding: 0;
    margin: 0;
}

.navbar-nav5-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 140%;
    background-color: #FFEF63;
    z-index: -1;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
}

#navbar-nav5:hover .navbar-nav5-back {
    animation: ease 0.3s navbar5_animation_hover;
    background-color: #cdc04d;
}

.navbar-current-line {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #F68368;
    border-radius: 5px;
}

#navbar-nav1:hover .navbar-current-line {
    animation: ease 0.3s navbar1_animation_hover;
    background-color: #c1543c;
}

.working-part {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 100px auto 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.rights {
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.navbar-burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    .navbar {
        padding: 0 20px;
    }

    .working-part {
        padding: 0 20px;
        margin-top: 80px;
    }

    .navbar-navs {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #D9D9D9;
        flex-direction: column;
        justify-content: center;
        transition: right 0.3s ease;
    }

    .navbar-navs.active {
        right: 0;
    }

    .navbar-navs2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .navbar-nav {
        margin: 0;
        font-size: 30px;
    }

    .navbar-burger {
        display: block;
        z-index: 2000;
    }

    .navbar-span {
        width: 30px;
        height: 4px;
        background-color: black;
        margin-bottom: 5px;
        display: block;
        transition: 0.3s;
    }
}

.project {
    max-width: 1100px;
    margin: 100px auto;
    padding: 50px;
    background: #fff;
    border-radius: 26px;
    box-shadow: 0 24px 50px rgba(0,0,0,0.08);
}

.project-title {
    font-size: 32px;
    font-family: "Itim";
    margin-bottom: 12px;
}

.project-description {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 30px;
}

.project-video {
    width: 100%;
    height: 480px;
    border-radius: 22px;
    object-fit: cover;
    background: #eaeaea;
    margin-bottom: 40px;
}

.project-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 18px;
    background: #eaeaea;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

@media (max-width: 768px) {
    .project {
        padding: 30px;
        margin: 70px 16px;
    }

    .project-title {
        font-size: 26px;
    }

    .project-video {
        height: 260px;
    }

    .project-images {
        grid-template-columns: 1fr;
    }

    .project-img {
        height: 190px;
    }
}

@keyframes navbar1_animation_hover {
    0% { background-color: #F68368; }
    100% { background-color: #c1543c; }
}

@keyframes navbar5_animation_hover {
    0% { background-color: #FFEF63; }
    100% { background-color: #cdc04d; }
}
