.scroll-div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
}

.scroll-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    text-align: center;
}