/* ===== PROJECT WRAPPER ===== */

.project {
    max-width: 1100px;
    margin: 100px auto;
    padding: 50px;
    background: #fff;
    border-radius: 26px;
    box-shadow: 0 24px 50px rgba(0,0,0,0.08);
}

/* ===== TEXT ===== */

.project-title {
    font-size: 32px;
    font-family: "Itim";
    margin-bottom: 12px;
}

.project-description {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 30px;
}

/* ===== VIDEO ===== */

.project-video {
    width: 100%;
    height: 480px;
    border-radius: 22px;
    object-fit: cover;
    background: #eaeaea;
    margin-bottom: 40px;
}

/* ===== IMAGE GRID ===== */

.project-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 18px;
    background: #eaeaea;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* ===== MOBILE ===== */

@media (max-width: 768px) {

    .project {
        padding: 30px;
        margin: 70px 16px;
    }

    .project-title {
        font-size: 26px;
    }

    .project-video {
        height: 260px;
    }

    .project-images {
        grid-template-columns: 1fr;
    }

    .project-img {
        height: 190px;
    }
}

@keyframes navbar1_animation_hover {
    0% { background-color: #F68368; }
    100% { background-color: #c1543c; }
}

@keyframes navbar5_animation_hover {
    0% { background-color: #FFEF63; }
    100% { background-color: #cdc04d; }
}