{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Saba Dumbadze</title>

        <!-- font link -->
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>

        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
    <body class="body">
        <!-- navbar -->
         <nav class="navbar" id="navbar">
            <h1 class="navbar-title huge-font">Web-Developer</h1>

            <div class="navbar-burger" id="navbar-burger">
                <span class="navbar-span" id="span1"></span>
                <span class="navbar-span" id="span2"></span>
                <span class="navbar-span" id="span3"></span>
            </div>
            
            <div class="navbar-navs" id="navbar-navs">
                <div class="navbar-navs2" id="navbar-navs2">
                    <a href="" style="color: black;"><div class="navbar-nav" id="navbar-nav1">
                        <div class="navbar-current-line"></div>
                        <h1 class="navbar-nav2 big-font">Home</h1>
                    </div></a>
                    <a href="" style="color: black;"><h1 class="navbar-nav big-font">About</h1></a>
                    <a href="" style="color: black;"><h1 class="navbar-nav big-font">Works</h1></a>
                    <a href="" style="color: black;"><h1 class="navbar-nav big-font">Blog</h1></a>
                    <a href="" style="color: black;"><div class="navbar-nav" id="navbar-nav5">
                        <div class="navbar-nav5-back"></div>
                        <h1 class="navbar-nav2 big-font">Contact</h1>
                    </div></a>
                </div>
            </div>
         </nav>

         <div class="working-part">
         </div>

        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>