{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Saba Dumbadze</title>

        <!-- font link -->
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>

        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
    <body class="body">
        <!-- navbar -->
         <nav class="navbar" id="navbar">
            <h1 class="navbar-title huge-font">Web-Developer</h1>
            
            <div class="navbar-navs">
                <div class="navbar-nav" id="navbar-nav1">
                    <div class="navbar-current-line"></div>
                    <h1 class="navbar-nav2 big-font">Home</h1>
                </div>
                <h1 class="navbar-nav big-font">About</h1>
                <h1 class="navbar-nav big-font">Works</h1>
                <h1 class="navbar-nav big-font">Blog</h1>
                <div class="navbar-nav" id="navbar-nav5">
                    <div class="navbar-nav5-back"></div>
                    <h1 class="navbar-nav2 big-font">Contact</h1>
                </div>
            </div>
         </nav>

         <div class="working-part">
            <div class="info-div">
                <div class="info-part1">
                    <h1 class="info-title huge-font">Hi I’m Saba Dumbadze, an experienced Web-Developer.</h1>
                    <h1 class="info-description medium-font">Saba Dumbadze is a skilled and innovative web developer with a strong foundation in modern web technologies, including Django, CSS, and JavaScript. As a developer, Saba is dedicated to crafting high-quality, visually appealing, and user-friendly websites that help individuals and businesses stand out in the digital landscape.</h1>
                    <button class="info-button medium-font">See what I can do for you</button>
                </div>

                <img src="" class="info_img">
            </div>
         </div>

        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>