{% load static %}
<!DOCTYPE html>
<html lang="ka">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>საბა დუმბაძე</title>
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
    <body class="body">
         <nav class="navbar" id="navbar">
            <h1 class="navbar-title huge-font">Saba Dumbadze</h1>

            <div class="navbar-burger" id="navbar-burger">
                <span class="navbar-span" id="span1"></span>
                <span class="navbar-span" id="span2"></span>
                <span class="navbar-span" id="span3"></span>
            </div>
            
            <div class="navbar-navs" id="navbar-navs">
                <div class="navbar-navs2" id="navbar-navs2">
                    <a href="" style="color: black;"><div class="navbar-nav" id="navbar-nav1">
                        <div class="navbar-current-line"></div>
                        <h1 class="navbar-nav2 big-font">მთავარი</h1>
                    </div></a>
                    <a href="{% url 'about' %}" style="color: black;"><h1 class="navbar-nav big-font">ჩემზე</h1></a>
                    <a href="{% url 'works' %}" style="color: black;"><h1 class="navbar-nav big-font">ნამუშევრები</h1></a>
                    <a href="{% url 'contact' %}" style="color: black;"><div class="navbar-nav" id="navbar-nav5">
                        <div class="navbar-nav5-back"></div>
                        <h1 class="navbar-nav2 big-font">კონტაქტი</h1>
                    </div></a>
                </div>
            </div>
         </nav>

         <div class="working-part">
            <div class="info-div">
                <div class="info-part1">
                    <h1 class="info-title" id="typing-text1">მე საბა დუმბაძე ვარ,</h1>
                    <h1 class="info-title" id="typing-text2">Full-Stack დეველოპერი.</h1>
                    <h1 class="info-description medium-font">ვქმნი ვებგვერდებს Django-ს, JavaScript-ისა და თანამედროვე ხელსაწყოების გამოყენებით. ჩემი მიზანი არის ავაწყო ისეთი პროდუქტი რომელიც გამართულად მუშაობს, კარგად გამოიყურება და მომხმარებლისთვისაც კომფორტულია.</h1>
                    <a href="{% url 'about' %}"><button class="info-button medium-font" id="info-button">ნახე მეტი ჩემს შესახებ</button>
                    <button class="info-button medium-font" id="info-button2">გაიგე ჩემი გამოცდილება</button></a>
                </div>

                <img src="{% static 'srcs/Me.jpg' %}" class="info-img">
            </div>

            <div class="strengths-div">
                <h1 class="strengths-title huge-font">უნარები</h1>
                <h1 class="strengths-small-title medium-font">რას ვაკეთებ ყველაზე კარგად</h1>
                <hr class="strengths-line">

                <div class="strength-divs" id="sd1">
                    <img class="strength-div-icon" src="{% static 'srcs/Icon1.svg' %}">
                    <h1 class="strength-div-title medium-font">პროგრამური ენების ცოდნა</h1>
                    <h1 class="strength-div-description small-font">მაქვს Python-თან და JavaScript-თან მუშაობის 5-წლიანი პრაქტიკა. კოდის წერისას მთავარ აქცენტს ყოველთვის მის სისუფთავესა და ეფექტურობაზე ვაკეთებ.</h1>
                </div>
                
                <div class="strength-divs" id="sd2">
                    <img class="strength-div-icon" src="{% static 'srcs/Icon2.svg' %}">
                    <h1 class="strength-div-title medium-font">დიზაინი (UI/UX)</h1>
                    <h1 class="strength-div-description small-font">ვცდილობ ინტერფეისი იყოს კრეატიული, მოდერნისტული და შევიტანო ინოვაციური დეტალები. ჩემთვის მნიშვნელოვანია, რომ საიტზე შესულ ადამიანს არ მოუწიოს ფიქრი იმაზე, თუ სად დააჭიროს თითი.</h1>
                </div>
                
                <div class="strength-divs" id="sd3">
                    <img class="strength-div-icon" src="{% static 'srcs/Icon3.svg' %}">
                    <img class="strength-div-icon" src="{% static 'srcs/Icon3.svg' %}" style="position: absolute; width: 55px; height: 55px; left: -15px; top: -10px;">
                    <h1 class="strength-div-title medium-font">ლოგიკა და მათემატიკა</h1>
                    <h1 class="strength-div-description small-font">ძლიერი მათემატიკური საფუძველი მეხმარება რთული ამოცანების მარტივ ალგორითმებად დაშლასა და გადაწყვეტილებების პოვნაში.</h1>
                </div>
                
                <div class="strength-divs" id="sd4">
                    <img class="strength-div-icon" src="{% static 'srcs/Icon4.svg' %}">
                    <h1 class="strength-div-title medium-font">Full-Stack დეველოპმენტი</h1>
                    <h1 class="strength-div-description small-font">ვაწყობ როგორც საიტის ვიზუალურ მხარეს, ისე მის შიდა ფუნქციებს და მონაცემთა ბაზებს. შემიძლია პროექტზე დამოუკიდებლად მუშაობა.</h1>
                </div>
                
                <div class="strength-divs" id="sd5">
                    <img class="strength-div-icon" src="{% static 'srcs/Icon5.svg' %}">
                    <h1 class="strength-div-title medium-font">აკადემიური ბაზა</h1>
                    <h1 class="strength-div-description small-font">დავასრულე ჰარვარდის CS50 პროგრამები (Computer Science, Web, AI). ვცდილობ განვითარდე ყოველდღიურად და ვისწავლო ერთი ახალი რამ.</h1>
                </div>
                
                <div class="strength-divs" id="sd6">
                    <img class="strength-div-icon" src="{% static 'srcs/Icon6.svg' %}">
                    <h1 class="strength-div-title medium-font">პრობლემების გადაჭრა</h1>
                    <h1 class="strength-div-description small-font">ყოველთვის ვეძებ კრეატიულ გზებს, რომ პროექტი სხვებისგან გამორჩეული და უფრო სწრაფი გამოვიდეს.</h1>
                </div>
            </div>

            <div class="work-div">
                <div class="work-part1">
                    <img src="" class="work-img" id="wd1">
                    <img src="" class="work-img" id="wd2">
                    <img src="" class="work-img" id="wd3">
                    <img src="" class="work-img" id="wd4">
                    <img src="" class="work-img" id="wd5">
                    <img src="" class="work-img" id="wd6">
                    <img src="" class="work-img" id="wd7">
                    <img src="" class="work-img" id="wd8">
                    <img src="" class="work-img" id="wd9">
                </div>

                <div class="work-part2">
                    <h1 class="work-title huge-font">ნამუშევრები</h1>
                    <h1 class="work-description small-font">აქამდე მიმუშავია სხვადასხვა ტიპის პროექტებზე: დაწყებული ონლაინ მაღაზიებიდან, დამთავრებული სასტუმროების ჯავშნების სისტემებითა და NGO პლატფორმებით. ყოველ საიტს დიდი ყურადღებით ვეკიდებ.</h1>

                    <div class="work-buttons">
                        <a href="{% url 'works' %}"><button class="work-button1 medium-font">ნახე ყველა</button></a>
                        <a href="{% url 'contact' %}"><button class="work-button2 medium-font">მომწერე</button></a>
                    </div>
                </div>
            </div>

             <h1 class="rights small-font">© 2025 საბა დუმბაძე</h1>
         </div>

        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>