{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Saba Dumbadze</title>

        <!-- font link -->
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>

        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
    <body class="body">
        <!-- navbar -->
         <nav class="navbar">
            <h1 class="navbar-title huge-font">Web-Developer</h1>
            
            <div class="navbar-navs">
                <div class="navbar-nav-line"></div>
                <h1 class="navbar-nav big-font">Home</h1>
                <h1 class="navbar-nav big-font">About</h1>
                <h1 class="navbar-nav big-font">Works</h1>
                <h1 class="navbar-nav big-font">Blog</h1>
                <div class="navbar-nav" id="navbar-nav5">
                    <div class="navbar-nav5-back"></div>
                    <h1 class="navbar-nav5 big-font">Contact</h1>
                </div>
            </div>
         </nav>

        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>