{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Saba Dumbadze</title>

        <!-- font link -->
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>

        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/works.css' %}" />
    </head>
    <body class="body">
        <!-- navbar -->
        <nav class="navbar" id="navbar">
            <h1 class="navbar-title huge-font">Web-Developer</h1>

            <div class="navbar-burger" id="navbar-burger">
                <span class="navbar-span" id="span1"></span>
                <span class="navbar-span" id="span2"></span>
                <span class="navbar-span" id="span3"></span>
            </div>
            
            <div class="navbar-navs" id="navbar-navs">
                <div class="navbar-navs2" id="navbar-navs2">
                    <a href="{% url 'index' %}" style="color: black; text-decoration: none;"><h1 class="navbar-nav big-font">Home</h1></a>
                    <a href="" style="color: black; text-decoration: none;"><div class="navbar-nav" id="navbar-nav1">
                        <div class="navbar-current-line"></div>
                        <h1 class="navbar-nav2 big-font">About</h1>
                    </div></a>
                    <a href="{% url 'works' %}" style="color: black; text-decoration: none;"><h1 class="navbar-nav big-font">Works</h1></a>
                    <a href="{% url 'contact' %}" style="color: black; text-decoration: none;"><div class="navbar-nav" id="navbar-nav5">
                        <div class="navbar-nav5-back"></div>
                        <h1 class="navbar-nav2 big-font">Contact</h1>
                    </div></a>
                </div>
            </div>
        </nav>

         <div class="working-part">
            <div class="project">

                <h1 class="project-title">Project Title Here</h1>
                <p class="project-description">
                    Short but clear description of the project. What it is, what tech you used,
                    and why it’s cool. Keep it 2–3 lines max.
                </p>

                <!-- VIDEO -->
                <video class="project-video" src="{% static 'videos/video1.mp4' %}" controls></video>

                <!-- IMAGES -->
                <div class="project-images">
                    <img src="{% static 'images/p1.jpg' %}" class="project-img">
                    <img src="{% static 'images/p2.jpg' %}" class="project-img">
                    <img src="{% static 'images/p3.jpg' %}" class="project-img">
                    <img src="{% static 'images/p4.jpg' %}" class="project-img">
                    <img src="{% static 'images/p5.jpg' %}" class="project-img">
                    <img src="{% static 'images/p6.jpg' %}" class="project-img">
                </div>

            </div>

                        <div class="project">

                <h1 class="project-title">Project Title Here</h1>
                <p class="project-description">
                    Short but clear description of the project. What it is, what tech you used,
                    and why it’s cool. Keep it 2–3 lines max.
                </p>

                <!-- VIDEO -->
                <video class="project-video" src="{% static 'videos/video1.mp4' %}" controls></video>

                <!-- IMAGES -->
                <div class="project-images">
                    <img src="{% static 'images/p1.jpg' %}" class="project-img">
                    <img src="{% static 'images/p2.jpg' %}" class="project-img">
                    <img src="{% static 'images/p3.jpg' %}" class="project-img">
                    <img src="{% static 'images/p4.jpg' %}" class="project-img">
                    <img src="{% static 'images/p5.jpg' %}" class="project-img">
                    <img src="{% static 'images/p6.jpg' %}" class="project-img">
                </div>

            </div>

                        <div class="project">

                <h1 class="project-title">Project Title Here</h1>
                <p class="project-description">
                    Short but clear description of the project. What it is, what tech you used,
                    and why it’s cool. Keep it 2–3 lines max.
                </p>

                <!-- VIDEO -->
                <video class="project-video" src="{% static 'videos/video1.mp4' %}" controls></video>

                <!-- IMAGES -->
                <div class="project-images">
                    <img src="{% static 'images/p1.jpg' %}" class="project-img">
                    <img src="{% static 'images/p2.jpg' %}" class="project-img">
                    <img src="{% static 'images/p3.jpg' %}" class="project-img">
                    <img src="{% static 'images/p4.jpg' %}" class="project-img">
                    <img src="{% static 'images/p5.jpg' %}" class="project-img">
                    <img src="{% static 'images/p6.jpg' %}" class="project-img">
                </div>

            </div>

                        <div class="project">

                <h1 class="project-title">Project Title Here</h1>
                <p class="project-description">
                    Short but clear description of the project. What it is, what tech you used,
                    and why it’s cool. Keep it 2–3 lines max.
                </p>

                <!-- VIDEO -->
                <video class="project-video" src="{% static 'videos/video1.mp4' %}" controls></video>

                <!-- IMAGES -->
                <div class="project-images">
                    <img src="{% static 'images/p1.jpg' %}" class="project-img">
                    <img src="{% static 'images/p2.jpg' %}" class="project-img">
                    <img src="{% static 'images/p3.jpg' %}" class="project-img">
                    <img src="{% static 'images/p4.jpg' %}" class="project-img">
                    <img src="{% static 'images/p5.jpg' %}" class="project-img">
                    <img src="{% static 'images/p6.jpg' %}" class="project-img">
                </div>

            </div>

            <h1 class="rights small-font" style="bottom: -50px;">© 2025 Saba Dumbadze</h1>
         </div>

        <script src="{% static 'js/navbar.js' %}"></script>
    </body>
</html>