{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Saba Dumbadze</title>

        <!-- font link -->
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>

        <!-- css link -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/works.css' %}" />
    </head>
    <body class="body">
        <!-- navbar -->
         <nav class="navbar" id="navbar">
            <h1 class="navbar-title huge-font">Web-Developer</h1>

            <div class="navbar-burger" id="navbar-burger">
                <span class="navbar-span" id="span1"></span>
                <span class="navbar-span" id="span2"></span>
                <span class="navbar-span" id="span3"></span>
            </div>
            
            <div class="navbar-navs" id="navbar-navs">
                <div class="navbar-navs2" id="navbar-navs2">
                    <a href="{% url 'index' %}" style="color: black;"><h1 class="navbar-nav big-font">Home</h1></a>
                    <a href="{% url 'about' %}" style="color: black;"><h1 class="navbar-nav big-font">About</h1></a>
                    <a href="{% url 'works' %}" style="color: black;"><div class="navbar-nav" id="navbar-nav1">
                        <div class="navbar-current-line"></div>
                        <h1 class="navbar-nav2 big-font">Works</h1>
                    </div></a>
                    <a href="{% url 'contact' %}" style="color: black;"><div class="navbar-nav" id="navbar-nav5">
                        <div class="navbar-nav5-back"></div>
                        <h1 class="navbar-nav2 big-font">Contact</h1>
                    </div></a>
                </div>
            </div>
         </nav>

         <div class="working-part">
            <div class="scroll-div">
                <h1 class="scroll-title">
                    My Projects
                </h1>
            </div>

            <div class="w-div1">
                <h1 class="w-title1">Mini title here
                <h1 class="w-description1">Some description here</h1>
                </h1>

                <video src="{% static 'videos/video1.mp4' %}" class="w-img1" controls></video>
            </div>

            <div class="w-div1">
                <h1 class="w-title1">Mini title here
                <h1 class="w-description1">Some description here</h1>
                </h1>

                <video src="{% static 'videos/video1.mp4' %}" class="w-img1" controls></video>
            </div>

            <video src="{% static 'videos/video1.mp4' %}" class="w-video1" controls></video>

            <p></p>

            <div class="w-pics">
                <img src="" alt="" class="w-pic w-pic1">
                <img src="" alt="" class="w-pic w-pic2">
                <img src="" alt="" class="w-pic w-pic3">
                <img src="" alt="" class="w-pic w-pic4">
                <img src="" alt="" class="w-pic w-pic5">
                <img src="" alt="" class="w-pic w-pic6">
            </div>

            <h1 class="rights small-font" style="bottom: -50px;">© 2025 Saba Dumbadze</h1>
         </div>

        <script src="{% static 'js/navbar.js' %}"></script>
    </body>
</html>